img {
    width: 150px;
    height: 150px;
    margin: 10px;
    margin-left: 100px;
    border-radius: 50%;
}

/* .rounded-start {
    border-bottom-left-radius: 0 !important; 
    border-top-left-radius: 0 !important;
} */

span {
    display: block;
    margin: 6px;
    color: grey;
}